h1 {
    font: 30px;
}

div h1 {
    font: 21px Courier;
    color: gold;
    background: rgba(123,85,155,.5);
    text-align: center;
}

div p {
    background: blue;
    color: white;
    font-size: 17px;
}